footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer .copyright{
    color: #777777;
    margin: 15px 25px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
}